@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Cinzel";
  src: url("assets/Cinzel-Regular.ttf");
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
}
.pay,.empty{
  display: inline-block;
  position: relative;

}
.pay::after , .empty::after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left:0;
  background-color: wheat;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}


.pay:hover::after , .empty:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

